
@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin resetA{
    text-decoration: none;
}

@mixin resetGlobal {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin reset{
    margin: 0;
    padding: 0;
}

@mixin hiddenScroll {
    body::-webkit-scrollbar {
        width: 0em;
      }
}